<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | WebGL Test</title>
    <link rel="shortcut icon" href="WebGL_Build/TemplateData/favicon.ico">
    <link rel="stylesheet" href="WebGL_Build/TemplateData/style.css">
    <link rel="stylesheet" href="WebGL_Build/Recources/style1.css">

    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>
  <body class = "bg" style="background-image: url('WebGL_Build/Recources/background2.jpg');">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
          <li class="navbar-item active">
              <a class="navbar-brand"> 4 Guys
              </a>
          </li>
          <li class="navbar-item">
              <a class="nav-link">
                  About Us
              </a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto"> 
         <li class="navbar-item">
              <a class="nav-link">
                  Sign Up
              </a>
         </li>
         <li class="navbar-item">
             <a class="nav-link">
                 Log In
             </a>
          </li>
      </ul>
      <form class="form-inline">
          <button class="btn btn-outline-light" type="button">Logout</button>
      </form>
  </nav>
</nav>
    <div class="container bar" >
        
      <h2 class="center">
        Bernie Sanders VS Climate Change
      </h2>
    </div >
    
      <div id="unity-container" class="unity-desktop" style='top:60%'>
        <canvas id="unity-canvas"></canvas>
        <div id="unity-loading-bar">
          <div id="unity-logo"></div>
          <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
          </div>
        </div>
        <div id="unity-mobile-warning">
          WebGL builds are not supported on mobile devices.
        </div>
        <div id="unity-footer">
          <div id="unity-webgl-logo"></div>
          <div id="unity-fullscreen-button"></div>
          <div id="unity-build-title">4 Guys</div>
        </div>
      </div>
      <script>
        var buildUrl = "WebGL_Build/Build";
        var loaderUrl = buildUrl + "/WebGL_Build.loader.js";
        var config = {
          dataUrl: buildUrl + "/WebGL_Build.data",
          frameworkUrl: buildUrl + "/WebGL_Build.framework.js",
          codeUrl: buildUrl + "/WebGL_Build.wasm",
          streamingAssetsUrl: "StreamingAssets",
          companyName: "DefaultCompany",
          productName: "WebGL Test",
          productVersion: "1.0",
        };
        
        var container = document.querySelector("#unity-container");
        var canvas = document.querySelector("#unity-canvas");
        var loadingBar = document.querySelector("#unity-loading-bar");
        var progressBarFull = document.querySelector("#unity-progress-bar-full");
        var fullscreenButton = document.querySelector("#unity-fullscreen-button");
        var mobileWarning = document.querySelector("#unity-mobile-warning");
        
        if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
          container.className = "unity-mobile";
          config.devicePixelRatio = 1;
          mobileWarning.style.display = "block";
          setTimeout(() => {
            mobileWarning.style.display = "none";
          }, 5000);
        } else {
          canvas.style.width = "960px";
          canvas.style.height = "600px";
        }
        loadingBar.style.display = "block";
        
        var script = document.createElement("script");
        script.src = loaderUrl;
        script.onload = () => {
          createUnityInstance(canvas, config, (progress) => {
            progressBarFull.style.width = 100 * progress + "%";
          }).then((unityInstance) => {
            loadingBar.style.display = "none";
            fullscreenButton.onclick = () => {
              unityInstance.SetFullscreen(1);
            };
          }).catch((message) => {
            alert(message);
          });
        };
        document.body.appendChild(script);

    </script>
  </body>
</html>
