<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Four Guys</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/Header-Dark.css">
    <link rel="stylesheet" href="BlankBuild/TemplateData/style.css">
<!--    <link rel="stylesheet" href="../assets/css/styles.css">-->

    <link rel="shortcut icon" href="BlankBuild/TemplateData/favicon.ico">
    <link rel="stylesheet" href="BlankBuild/TemplateData/style.css">
    <script src="BlankBuild/TemplateData/UnityProgress.js"></script>
    <script src="BlankBuild/Build/UnityLoader.js"></script>
    <script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "BlankBuild/Build/First Build.json", {onProgress: UnityProgress});
    </script>
</head>

<body>
    <header class="header-dark">
        <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="#">Four Guys</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">maybe delete</a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </li>
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                    </form><span class="navbar-text"><a class="login" href="#">Log In</a></span><a class="btn btn-light action-button" role="button" href="#">Sign Up</a>
                </div>
            </div>
        </nav>


        <div class="container hero">
            
            <div class="row">

                <div class="col-md-8 offset-md-2">

                    <h1 class="text-center">Game Title</h1>

                    <div class="embed-responsive embed-responsive-16by9">
                        
                        <div class="webgl-content">
                            
                            <div id="unityContainer" style="width: 960px; height: 600px"></div>
                            
                            <div class="footer">
                              <div class="webgl-logo"></div>
                              <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
                              <div class="title">Bernie Blank Project</div>
                            </div>
                          </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </header>
    

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>